<a href="{{ "/archive.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/ToDo.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">ToDo</h2></a>
<a href="{{ "/Certificates.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Certificates</h2></a>
<!--<a href="{{ "https://t.me/reverse_dungeon" }}"><h2 class="header-link">Telegram</h2></a>-->
