<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/ToDo" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">ToDo</h2></a>
<a href="{{ "/Certificates" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Certificates</h2></a>
<!--<a href="{{ "https://t.me/reverse_dungeon" }}"><h2 class="header-link">Telegram</h2></a>-->
